<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://thumbs.dreamstime.com/b/pushpin-marking-location-map-5209434.jpg" alt="">

  <ion-card>
    <ion-card-content>
      <p>Address:fack street, 111</p>
      <p>Complement: Apto 222</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip Code: 1234568</p>
      <p>City Name: State</p>

      <ion-list>
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button  size="full" color="success" shape="round">
    Create pikup Call
  </ion-button>


</ion-content>
